/*bootstrap css adjustments*/

.navbar {
    margin-bottom: 0;
}

.img-responsive {
    width: 100%;
}

/*main article styles*/

.main-article {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.main-article-text {
    border-top: 4px solid #ff0500;
    padding: 15px 30px 25px;
    position: relative;
}

/*main article styles for medium screen and up*/

@media only screen and (min-width: 768px) {
    .main-article {
        position: relative;
    }
    .main-article-text {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0, #fff 50%, #fff 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.main-divider {
    border-top: 1px solid #f2f2f2;
}

.article {
    margin-top: 15px;
    border-bottom: 1px solid #f2f2f2;
}

.vertical-divider {
    border-right: 1px solid #f2f2f2;
}

.article-cat {
    color: #ff0500;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.article-cat>a{
    color: #ff0500;
}
.article-cat>a:hover{
    color:#23527c;
}
.article-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.article-title>a{
    color: black;
}
.article-title>a:hover{
    color:#23527c;
}

.article-summary {
    text-align: center;
    font-size: 14px;
}

#sponsor {
    background-color: #e6ffff;
    border: 1px solid #cdf0ff;
}

#sponsor-blue {
    color: #00B7FF;
}

@media only screen and (min-width: 768px) {
    .article {
        height: 550px;
    }
    #sponsor {
        height: 535px;
    }
}

@media only screen and (max-width: 767px) {
    .article {
        height: 630px;
    }
    #sponsor {
        height: 615px;
    }
}

@media only screen and (min-width: 1200px) {
    .article {
        height: 690px;
    }
    #sponsor{
        height: 675px;
    }
}